.square {
    border: 2px solid antiquewhite;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    margin: 10px;
    width: 6rem;
    height: 6rem;
    box-sizing: border-box;
    justify-self: center;


}

.square:hover {
    box-shadow: 0 5px 20px 0 rgba(51, 51, 51, .3);
}

.iconSVG {
    width: 50%;
}
